#cuttingPlanWrapper {
    padding: 8px;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#cuttingPlanCanvasWrapper {
    padding: 3px;
    height: calc(100vh - 250px);
    width: 100%;
    border: 1px solid #929292;
}


#canvas {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid #2E4F4F;
}

#cuttingPlanStatusBar {
    width: 100%;
    margin: 5px;
}